{% extends 'base.html' %}

{% block head_title %}Product Detail | {{product}}{% endblock head_title %}

{% block content %}
<h1 class="text-center text-light bg-info my-5">Product detail</h1>
<h3>{{product}}</h3>
<p>
    <strong>Description:</strong>
    {% if product.description %}
    {{product.description}}
    {% else %}
    it's comming soon!
    {% endif %}
</p>
<p><strong>Price:</strong> It's just for <strong>US$ {{product.price}}</strong></p>
<p><strong>Summary:</strong>{{product.summary}}</p>
<p>Is product featured? <strong>{{ product.is_featured|upper }}</strong></p>
{% if request.user.is_staff %}
<p><strong>Actions:</strong></p>
<div class="btn-group">
        <a
            href="{% url 'products:update_product_raw_form' product.id %}"
            class="btn btn-info"
        >Edit with raw form</a>
        <a
            href="{% url 'products:update_product_model_form' product.id %}"
            class="btn btn-primary"
        >Edit with model form</a>
        <a
            href="{% url 'products:product_delete' product.id %}"
            class="btn btn-danger"
        >Delete</a>
</div>
{% endif %}
{% endblock content %}
