{% extends 'base.html' %}

{% block head_title %}{{article}} | Article Detail{% endblock head_title %}

{% block content %}
    <h1 class="text-center text-light bg-info mb-5">{{article}}</h1>
    <p>{{article.content}}</p>
    {% if request.user.is_staff %}
    <p class="btn btn-group">
        <a href="{% url 'blog:article_update' article.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'blog:article_delete' article.id %}" class="btn btn-danger">Delete</a>
    </p>
    {% endif %}
{% endblock content %}
