{% extends 'base.html' %}

{% block head_title %}Create or update article{% endblock head_title %}

{% block content %}
<h1 class="text-center text-light bg-info my-5">Create or update article</h1>
<h5>You can create or update an article by filling up the form bellow.</h5>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label id="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
    {% endfor %}

    <p class="btn-group">
    {% if article.id %}
    <a href="{% url 'blog:article_detail' article.id %}" class="btn btn-info">Cancel</a>
    <a href="{% url 'blog:article_delete' article.id %}" class="btn btn-danger">Delete</a>
    {% else %}
    <a href="{% url 'blog:index' %}" class="btn btn-info">Cancel</a>
    {% endif %}

    <input type="submit" value="Save" class="btn btn-success"/>
    </p>
</form>


{% endblock content %}
